.profile {
    margin-top: 15%;
}

.profile h1 {
    font-weight: 300;
    margin-bottom: 40px;
}

.profileBtn {
    background-color: #20B2AA;
    color: white;
    padding: 10px;
    margin:15px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 300;
    transition: all 0.1s;
    
}

.profileBtn:hover {
    transform: scale(1.1);
}